/*use an external style sheet that will apply to all pages*/



/*****************************Common applies to all pages**************************************************************/
body{background-color:#ffff;}

/*for the links*/
a{ font-size:25px;font-family: 'Telex', sans-serif;}
a:link {text-decoration-style:solid;color:#e27d60;}
a:visited {text-decoration-style:dotted; text-decoration-color:#ff0000;color:#e27d60}
a:hover{text-decoration-style: wavy; text-decoration-color: #6495ED;color:#ffffff;}
a:active {text-decoration-style:dotted;	color:#0000ff;}

#wrapper {
	
	position:relative;
	display:block;
	width:960px; 
	border-style:dashed;
	border-width:2px;
	margin-left:150px;	
	background-color:#85dcba;
	}
div {float:left;}

pre {font-size:15px; text-align:center;}

/*headings*/
h1 {
	font-family: 'Telex', sans-serif;
	text-transform:uppercase;
	word-spacing: 20px;
	font-size:50px;
	color:#FF3399;
	text-align:center;
}
h2 {
	
	font-family:'Black Ops One', cursive;
	font-size:35px;
	color:#000;
	text-align:center;
	letter-spacing: 10px;
	
}

 /*paragraphs*/
p {
	font-family: 'Capriola', sans-serif;
	text-align:center;
	font-size:28px;
	color:#000;
}


/*****************************WI_HAL_LOGIN_V1.php**************************************************************/

form#login{
	
	font-family: 'Ubuntu', sans-serif;
	font-size:20px;
	text-align:center;
	border: solid;
    border-color: tomato;
}
	
/*****************************WI_HAL_LOGIN_V1.php**************************************************************/

	
/*****************************mainHAL_PAGE.php**************************************************************/
p#mainHAL{
	font-family: 'Capriola', sans-serif;
	text-align:center;
	font-size:32px;
	color:#c38d9e;
	}
p#time{
	font-family: 'Capriola', sans-serif;
	text-align:center;
	font-size:28px;
	color:#000;
}
p#time_2{
	color:#000;
	font-size:15px;
}
p#furnTime{
	font-family: 'Capriola', sans-serif;
	text-align:center;
	font-size:28px;
	color:#000;
}
p#furnTime2{
	color:#000;
	font-size:15px;
}
form#furnTime{text-align:center;}
form#time{text-align:center;}
select#time{font-size:20px;}
input#main_HAL{font-size:20px;}
p#thermostat{
	font-family: 'Ubuntu', sans-serif;
	font-size:20px;
}
#hue{
	font-family: 'Ubuntu', sans-serif;
	font-size:20px;
	text-align:center;
}
form#hue{text-align:center;}

img#button_0{
  margin-left:240px;
  
}
}
/********************mainHAL_PAGE.php**************************************************************/

/*****************************brightness.php***********************************************************/
p#brightness{
	font-family: 'Capriola', sans-serif;
	text-align:center;
	font-size:32px;
	color:#c38d9e;
	}
/*****************************brightness.php***********************************************************/

/*****************************light_change.php***********************************************************/
p#light_change{
	font-family: 'Capriola', sans-serif;
	text-align:center;
	font-size:32px;
	color:#f64c72;
}
/*****************************light_change.php***********************************************************/

/*****************************schedule.php***********************************************************/
p#schedule{
	font-family: 'Capriola', sans-serif;
	text-align:center;
	font-size:32px;
	color:#f64c72;
}
/*****************************schedule.php***********************************************************/

/*****************************set_schedule.php***********************************************************/
p#set_schedule{
	font-family: 'Capriola', sans-serif;
	text-align:center;
	font-size:32px;
	color:#ffe400;
}
form#set_schedule{
	font-family: 'Hind', sans-serif;
	text-align:center;
	font-size:33px;
}
/*for regular input form stuff*/
input#set_schedule{
		font-family: 'Hind', sans-serif;
		font-size:20spx;
		width:300px;
		height:33px;
		text-align:center;
		
		
}
/* for the date and time stuff*/
input#set_schedule2{
	font-family: 'Hind', sans-serif;
		font-size:20spx;
		width:90px;
		height:33px;
		text-align:center;
}

select#set_schedule{
	font-family: 'Hind', sans-serif;
		font-size:20px;
		width:80px;
		height:33px;
		text-align:center;
}
/*****************************set_schedule.php***********************************************************/


/*****************************create_schedule.php***********************************************************/
p#create_schedule{
	font-family: 'Capriola', sans-serif;
	text-align:center;
	font-size:32px;
	color:#000;
}

/*****************************create_schedule.php***********************************************************/

/*****************************connect_philips.php***********************************************************/
#connect_philips{
	font-family: 'Capriola', sans-serif;
	text-align:center;
	font-size:28px;
	color:#000;
}

/*****************************delete_schedule.php***********************************************************/
p#delete_schedule{
	font-family: 'Capriola', sans-serif;
	text-align:center;
	font-size:32px;
	color:#f64c72;
}
p#delete_message{font-family: 'Capriola', sans-serif;
	font-size:20px;
	text-align:center;
}
form#delete{
		font-family: 'Balsamiq Sans', cursive;
		font-size:25px;
		text-align:center;
}
/*****************************delete_schedule.php***********************************************************/

